.aboutContainer {
  display: flex;
}

#headshot {
  margin-left: 5%;
  margin-top: 15%;
  width: 400px;
  height: 400px;
}

#aboutMe {
  font-size: 120%;

  padding-left: 5%;
  padding-right: 5%;
  margin-top: 400px;

}
